.driver-container{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    padding: 20px;
    color: white;
}

.sidebar-header {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.sidebar-menu {
    list-style: none;
    padding-left: 0;
}

.sidebar-menu li {
    margin-bottom: 15px;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.sidebar-menu a:hover {
    background-color: #444;
    transform: scale(1.05);
}

.sidebar-menu .active {
    background-color: #555;
}

.main-content {
    flex: 1;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.insertbtn button{
    color: white;
}

/* h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
} */

.btn {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f7f7f7;
    font-weight: bold;
    cursor: pointer;
}

tbody tr:hover {
    background-color: #f0f0f0;
}

.btn-sm {
    padding: 5px 5px;
}

td a {
    margin-right: 5px;
}
.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 50px;
    width: 700px;
    
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    margin: 0 5px;
}

.search-filter button{
    width: 100%;
    padding: 6px;
    margin-top: 20px;
}